:root {
  --colorone: rgb(20, 17, 4);
  --colortwo: #80541f;
  --colorthree: #343A40;

  --fuentePrincipal: 'Raleway', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
  background-color: black;
}
h1, h2, h3 {
  font-weight: 900;
  line-height: 1.2;
  margin: 1rem 0 4rem 0;
}

h1{
  font-size: 4.8rem;
}
.h2 {
  font-size: 2.5rem;
  line-height: 1.8;
  font-weight: 600;

}
h4 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  border-bottom:3px solid #f6f8fa;
}
h6{
  font-size: 1.8rem;
  font-weight: 500;

}
.p{
  font-size: 1.8rem;
}
a {
  text-decoration: none;
  text-shadow: 1px 2px 10px #fff;
}
.navegacion .link{
  text-shadow: 1px 2px 8px #000;
color: white;
width: max-content;

}

img {
  max-width: 100%;
  display: block;
}
.contenedor {
  width: 90vh;
  margin: 0 auto;
  padding: 0;
  width: 90%;
}
.btn {
  color: var(--colorthree);
  background-color: var(--colorone);
  border: 1px solid var(--colorthree);
  padding: .5rem 2rem;
  transition: background-color .3s;
}
.btn:hover {
  background-color: var(--colorthree);
  color: var(--colorone);
}

/** Utilidades **/
.text-center {
  text-align: center;
}
/* .mt-5 {
  margin-top: 5rem;
} */

/** Header */
.header {
  min-height: 60rem;
  background-image: url(../src//assets/2/background-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  padding: 5rem 0;
}
.contenido-header {
  display: flex;
  flex-direction: column;
  height: calc(60rem - 4rem);
  justify-content: space-between;
  color: var(--colorone);
}
.contacto{
  margin-left: 1rem;
}
.nombre-sitio {
  font-weight: 300;
  text-align: center;
  font-size: 3rem;
  backdrop-filter: blur(30px);
  padding-inline: 2rem;
  box-shadow: 0 0 5px #fff;
  border-radius: 1rem;
  padding-block: 1rem;
}
.nombre-sitio .div{
display: flex;
align-items: center;
}
.nombre-sitio img{
  width: 120px;
}

@media (min-width: 768px) { 
  .nombre-sitio {
      font-size: 5rem;
  }
}

.nombre-sitio span {
  font-weight: 900;
}

@media (min-width: 768px) { 
  .barra {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 3rem;
  }
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1200px) { 
  .contacto {
     display: block;
  }
  .contenido-header * {
    display: grid ;
    grid-template-columns: 1fr;
  
  }
  .nombre-sitio{
    display: flex;
  }
  .contacto .navegacion, .telefono {
    display: grid ;
    grid-template-columns: 1fr;
    position: left;
    width: max-content;
  }
}
.telefono {
  display: flex;
  padding-inline: 1rem;
}
.telefono::before {
  content: '';
  display: block;
  width: 4rem;
  height: 4rem;
  background-image: url(../src//assets/telefono.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 1rem;
}

.header a {
  color: var(--colorone);
  font-size: 2rem;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 5px #fff;
  border-radius: 1rem;
}

.navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  gap: 2rem;
}

@media (min-width: 768px) { 
  .navegacion {
      flex-direction: row;
  }
}
.navegacion a {
  padding: .5rem;
  transition: background-color 300ms;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) { 
  .navegacion a {
      padding: 1rem 2rem;
  }
}
.navegacion a:hover {
  background-color: rgb( 255 255 255 / .5 );
  color: var(--colortwo);
}

.slogan {
  text-align: center;
  margin-right: 2rem;
}
@media (min-width: 768px) { 
  .slogan {
      text-align: right;
  }
}
.slogan h1 {
  font-size: 3rem;
  margin: 0;
}
@media (min-width: 768px) { 
  .slogan h1 {
      font-size: 5rem;
  }
}
.slogan p {
  margin: 0;
  line-height: 1;
}

/** Galeria */

.galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  background-color: black;
}
@media (min-width: 768px) { 
  .galeria {
      grid-template-columns: repeat(3, 1fr);
  }
}
.galeria img {
  object-fit: cover;
  height: 100%;
}
.galeria .imagen:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
@media (min-width: 768px) { 
  .galeria .imagen:nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 2 / 4;
  }
}
.galeria .imagen:nth-child(3) {
  grid-row: 3 / 5;
  grid-column: 2 / 3;
}
@media (min-width: 768px) { 
  .galeria .imagen:nth-child(3) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
  }
}

.galeria .imagen:nth-child(6) {
  grid-row: 2 / 4;
}
@media (min-width: 768px) { 
  .galeria .imagen:nth-child(6) {
      grid-column: 3 / 4;
      grid-row: 1 / 3;
  }
}
#createNFT{
  background:#000 ;

  margin: 0 auto;
  color: #fff;
padding-inline: 4rem;
padding-block: 2rem;
margin-top: 3rem;
}
.container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
}
.container img{
  width: 100%;
  object-fit: cover;

}
.link{
  text-decoration:underline;
color:  #f6f8fa;
}
.footer {
  width: 90vw;
  height: 50rem;
  background-image: url(../src//assets/2/background-4.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
 position: relative;

  color: var(--blanco);
}
.footer a {
  color: var(--blanco);
  font-size: 2rem;

}

.copyright {
  position: absolute;
  bottom: 0;
  background-color: var(--negro);
  text-align: center;
  margin-left: 2rem;
  font-size: 2rem;
  padding: 1rem;
  color: #fff;
}
 /* media quaries*/

 @media screen and (max-width: 900px) { /*unidad "px" */
  #createNFT{
    width: 85vw;
    padding: 0;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-block: 4rem;
  }
}
@media screen and (max-width: 1200px) {
  footer .barra {
    display: block;
  }
  footer .barra .contacto .navegacion{
    display: flex;
    margin: 0 auto;
  }
  footer .barra .logo .nombre-sitio{
    width: max-content;
    margin-left: 2rem;
  }
  footer .barra .contacto .navegacion a{
    backdrop-filter: blur(30px);
  box-shadow: 0 0 5px #fff;
  border-radius: 1rem;
  text-decoration: none;
  width: max-content;
  margin-left: 2rem;

  }
}
@media screen and (max-width: 600px) {
  .footer{
    width: 85vw;
    margin: 0 auto;
    margin-top: 4.5rem;
  }
  footer .barra{
    padding-inline:2rem ;
    margin-block: 0;
  }
  footer .barra .logo .nombre-sitio{
    margin-left: 1rem;
    overflow: hidden;
  }
}
